html, body{
    width:100%;
    height:100%;
    margin:0px;
}

#map{
    display: block;
    width: 100%;
    height: 100%;
}

nav{
    position:fixed;
    top:0px;
    width:100%;
    text-align: center;
}

button{
    padding:10px;
    border:none;
    border-radius:5px;
    margin:5px;
    cursor: pointer;
    background-color: #3dbecf;
}

button:hover{
    background-color:#2daebf;   
}

button:active{
    background-color:#3dbecf;   
}